
/** 商品一覧画面　購入済み「SOLD」表示 */
.item-card__label--sold {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: red;
    color: white;
    padding: 4px 8px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 4px;
}